@font-face {
  font-family: 'HelveticaNeueLTStd-lt';
  src: url('/assets/fonts/helveticaneueltstd-lt.eot');
  src: url('/assets/fonts/helveticaneueltstd-lt.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/helveticaneueltstd-lt.woff') format('woff'),
       url('/assets/fonts/helveticaneueltstd-lt.ttf')  format('truetype'),
       url('/assets/fonts/helveticaneueltstd-lt.svg#HelveticaNeueLTStd') format('svg');
}

@font-face {
  font-family: 'HelveticaNeueLTStd-hv';
  src: url('/assets/fonts/helveticaneueltstd-hv.eot');
  src: url('/assets/fonts/helveticaneueltstd-hv.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/helveticaneueltstd-hv.woff') format('woff'),
       url('/assets/fonts/helveticaneueltstd-hv.ttf')  format('truetype'),
       url('/assets/fonts/helveticaneueltstd-hv.svg#HelveticaNeueLTStd') format('svg');
}
